# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo

# Logs y Temp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Datos Locales (Opcional, si se quiere evitar subir pruebas)
# hpro_facturas_emitidas
# hpro_emisor_data
